@import 'tailwindcss';

:root {
  --primary-color: #506df5;
  --primary-hover: #435cdd;
  --error-color: #ef4444;
  --error-hover: #dc2626;
  --link-color: rgb(0, 183, 255);
  --warning-color: #f59e0b;
  --warning-hover: #d97706;
  --font-sans: 'Inter', sans-serif;
  --background-transparent: rgba(0, 0, 0, 0.5);
}

.background-blur {
  backdrop-filter: blur(2px);
}

@layer utilities {
  .grid-auto-fill-200 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .grid-5-cols {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  }

  .background-opacity {
    /* TODO: Fix this behavior */
    background-color: color-mix(in srgb, var(--primary-hover) 0.05%, transparent);
  }
}
