# Server Configuration
PORT=3000
HOSTNAME=localhost

# Security Configuration
SALT_ROUNDS=10

# Database Configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
POSTGRES_PORT=5432
POSTGRES_HOST="localhost"
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

# Email Configuration
EMAIL_SERVICE=gmail
EMAIL=myemail@gmail.com
EMAIL_PASSWORD=mypassword

# JWT Configuration
JWT_SECRET=mysecretkey

# Frontend Configuration
FRONTEND_URL=http://localhost:3000